@import "../../../mixins";

.custom-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 21px 13px 14px;

    width: 117px;
    height: 48px;

    border: none;
    border-radius: 45px;
    transition: all 0.5s;

    @include desktop-screen {
        width: 159px;
        height: 54px;
    }

    &:hover {
        cursor: pointer;
    }
}