.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 999;

    &.modal-overlay-open {
        opacity: 1;
        pointer-events: all;
    }

    .custom-modal {
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;

        &.modal-open {
            animation: modalSlideIn .2s forwards;
        }

        &.modal-hide {
            animation: modalSlideOut .2s forwards;
        }

        @keyframes modalSlideIn {
            from {
                opacity: 0;
                transform: translateY(50%);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes modalSlideOut {
            from {
                opacity: 1;
                transform: translateY(0);
            }

            to {
                opacity: 0;
                transform: translateY(50%);
            }
        }
    }
}